.Nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between ;
    width: 100%;
    padding: 10px;
    /* height: 10px; */
}
.Nav_logo{
    position: fixed;
    width: 80px;
    object-fit: contain;
    left: 0px;
    margin-top: -25px;
}
.Nav_User{
    position: fixed;
    width:30px;
    object-fit: contain;
    /* height: 10px; */
    right: 20px;

}